.bar {
  display: flex;

  width: 743px;
  height: 91px;

  border-radius: 10px;

  background-color: #3579f5;

  font-family: Inter;
}

.text-white {
  color: #ffffff;
  font-size: 12px;
}

.circle {
  position: relative;
  margin: 16px 16px 0 22px;
}

.circle-inner {
  display: flex;
  justify-content: center;

  width: 60px;
  height: 60px;

  border-radius: 50%;
  border: 1px solid #ffffff50;
}

.circle-counter {
  align-self: center;
  font-size: 20px;
}

.circle-outer {
  fill: none;
  stroke: #ffffff;
  stroke-width: 2px;
  stroke-dasharray: 200;
  stroke-dashoffset: 195;
}

svg {
  transform: rotate(-90deg);
  position: absolute;
  top: 0;
  left: 0;
}

.text {
  display: flex;
  flex-direction: column;
  padding-top: 12px;
}

.text-title {
  width: 76px;

  padding: 2px 0;

  text-align: center;

  background-color: #2364db;

  border-radius: 40px;
}

.text-counter {
  margin: 4px 0;
  padding: 1px 0;

  font-size: 15px;
  font-weight: 600;
}

.text-body {
  padding: 2px 0;
}

.button {
  width: 170px;
  height: auto;
  margin: 26px 18px auto auto;
  padding: 12px 0;

  background-color: #f4f8ff;

  color: #4777ed;
  font-size: 14px;

  border-style: none;
  border-radius: 6px;
}
